@model IEnumerable<IStudyKindergardens.Models.KindergardenListItemViewModel>
<style>
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .border-radius-null {
        border-radius: unset;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @if (ViewBag.Type != null)
            {
                if (ViewBag.Type == "MainSearch")
                {
                    @Html.Partial("_MainSearchPartial")
                }
                else if (ViewBag.Type == "AdvancedSearch")
                {
                    @Html.Partial("_AdvancedSearchPartial")
                }
            }
            @foreach (var item in Model)
            {
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="item-kindergarden">
                            @if (item.PreviewPicture == String.Empty)
                            {
                                <img style="width: 200px; height: 200px; float: left;" class="img-thumbnail" src="~/Images/Default/anonymKindergardenRectangle.jpg" />
                            }
                            else
                            {
                                <img style="width: 200px; height: 200px; float: left;" class="img-thumbnail" src="~/Images/Uploaded/Source/@item.PreviewPicture" />
                            }
                            <div style="display:inline-block; margin-left: 15px;" class="info">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3 style="margin-top: 15px;">@item.Kindergarden.Name</h3>
                                        <a target="_blank" href="https://www.google.com.ua/maps/place/@item.Kindergarden.Address"><span><span class="glyphicon glyphicon-globe"></span> Показати на карті [@item.Address]</span></a>
                                        <h5 style="text-align: justify; word-wrap: break-word;">@item.ShortInfo</h5>
                                    </div>
                                    <div class="col-md-3" style="padding-top:15px; padding-right: 20px; padding-left: 0;">
                                        <h4 style="margin-bottom: 30px;">Рейтинг: <span style="font-weight: bold;">@item.Rating</span></h4>
                                        <div class="btn-group-vertical" style="width:100%;">
                                            @Html.ActionLink("Оцінити", "Rate", "Kindergarden", routeValues: new { @id = item.Kindergarden.Id }, htmlAttributes: new { @style = "width:100%", @class = "btn btn-primary border-radius-null" })
                                            @using (Ajax.BeginForm("AddKindergardenForUser", "Home", new AjaxOptions
                                            {
                                            }))
                                            {
                                                @Html.Hidden("kindergardenId", item.Kindergarden.Id)
                                                if (item.IsSelected)
                                                {
                                                    <input type="submit" value="Відмінити" style="width:100%" class="btn btn-tumblr border-radius-null switchSelected" />
                                                }
                                                else
                                                {
                                                    <input type="submit" value="До вибраних" style="width:100%" class="btn btn-primary border-radius-null switchSelected" />
                                                }
                                            }
                                            @Html.ActionLink("Перейти", "KindergardenProfile", "Kindergarden", routeValues: new { @id = item.Kindergarden.Id }, htmlAttributes: new { @style = "width:100%", @class = "btn btn-primary border-radius-null" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@Scripts.Render("~/js/ajax")

<script>
    $(document).ready(function () {
        $('.info').css("width", "100%");
        var width = $('.info').css("width");
        var value = (width.substring(0, width.length - 2) - 200);
        $('.info').css("width", value - 15 + "px");
    });

    $(window).resize(function () {
        $('.info').css("width", "100%");
        var width = $('.info').css("width");
        var value = (width.substring(0, width.length - 2) - 200);
        $('.info').css("width", value - 15 + "px");
    });

    $(".switchSelected").on("click", function () {
        if ($(this).hasClass("btn-tumblr")) {
            $(this).removeClass("btn-tumblr");
            $(this).addClass("btn-primary");
            $(this).attr("value", "До вибраних");
        }
        else if ($(this).hasClass("btn-primary")) {
            $(this).removeClass("btn-primary");
            $(this).addClass("btn-tumblr");
            $(this).attr("value", "Відмінити");
        }
    });
</script>