@model IStudyKindergardens.Models.KindergardenListViewModel
<style>
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @for (int i = 0; i < Model.Kindergardens.Count; i++)
            {
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="item-kindergarden">
                            @if (Model.PreviewPictures[i] == String.Empty)
                            {
                                <img style="width: 200px; height: 200px; float: left;" class="img-thumbnail" src="~/Images/Default/anonymKindergardenRectangle.jpg" />
                            }
                            else
                            {
                                <img style="width: 200px; height: 200px; float: left;" class="img-thumbnail" src="~/Images/Uploaded/Source/@Model.PreviewPictures[i]" />
                            }
                            <div style="display:inline-block; margin-left: 15px;" class="info">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3 style="margin-top: 15px;">@Model.Kindergardens[i].Name</h3>
                                        <a target="_blank" href="https://www.google.com.ua/maps/place/@Model.Kindergardens[i].Address"><span><span class="glyphicon glyphicon-globe"></span> Показати на карті [@Model.Addresses[i]]</span></a>
                                        <h5 style="text-align: justify; word-wrap: break-word;">@Model.ShortInfo[i]</h5>
                                    </div>
                                    <div class="col-md-3" style="padding-top:15px; padding-right: 20px; padding-left: 0;">
                                        <h4 style="margin-bottom: 30px;">Рейтинг: <span style="font-weight: bold;">@Model.Ratings[i]</span></h4>
                                        <div class="btn-group-vertical" style="width:100%;">
                                            @Html.ActionLink("Оцінити", "Rate", "Kindergarden", routeValues: new { @id = Model.Kindergardens[i].Id }, htmlAttributes: new { @style = "width:100%", @class = "btn btn-default" })
                                            @Html.ActionLink("Перейти", "KindergardenProfile", "Kindergarden", routeValues: new { @id = Model.Kindergardens[i].Id }, htmlAttributes: new { @style = "width:100%", @class = "btn btn-default" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('.info').css("width", "100%");
        var width = $('.info').css("width");
        var value = (width.substring(0, width.length - 2) - 200);
        $('.info').css("width", value - 15 + "px");
    })

    $(window).resize(function () {
        $('.info').css("width", "100%");
        var width = $('.info').css("width");
        var value = (width.substring(0, width.length - 2) - 200);
        $('.info').css("width", value - 15 + "px");
    })
</script>