@model IStudyKindergardens.Models.Kindergarden
<style>
    .description-block-custom {
        text-align: left;
        margin: 5px 0px 5px 0px;
        padding: 0px 10px 0px 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: inline-block;
        width: 100%;
    }

        .description-block-custom h4 {
            margin: 0px 10px 10px 0px;
            text-align: justify;
            word-wrap: break-word;
        }

        .description-block-custom p {
            margin: 0px 10px 0px 0px;
            text-align: justify;
            word-wrap: break-word;
        }

    .description-image-block-custom {
        text-align: left;
        margin: 5px 0px 5px 0px;
        padding: 0px 10px 0px 10px;
        /*border: 1px solid #ddd;
        border-radius: 4px;*/
        display: inline-block;
        width: 100%;
    }

        .description-image-block-custom img {
            margin: 0px 10px 0px 0px;
            float: left;
        }

        .description-image-block-custom * h4 {
            margin: 0px 10px 10px 0px;
            text-align: justify;
            word-wrap: break-word;
        }

        .description-image-block-custom * p {
            margin: 0px 10px 0px 0px;
            text-align: justify;
            word-wrap: break-word;
        }

    .description-image-custom {
        margin: 0px 0px 5px 0px;
        width: 100%;
    }

    .btn-group-vertical {
        display: block;
    }

    .photo-album {
        border: none;
    }

    .description-block-custom {
        border: none;
    }

        .description-block-custom p {
            text-align: justify;
            word-wrap: break-word;
        }
</style>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 style="margin:0;">@Model.Name</h4>
                </div>
                <div class="box-body">
                    @for (int i = 0; i < ViewBag.Blocks.Count; i++)
                    {
                        if (ViewBag.Blocks[i].BlockType == "Text")
                        {
                            List<string> components = ViewBag.Blocks[i].BlockComponents;
                            <div class='description-block-custom'>
                                <h4>@components[0]</h4>
                                <p>@components[1]</p>
                            </div>
                        }
                        else if (ViewBag.Blocks[i].BlockType == "TextImage")
                        {
                            List<string> components = ViewBag.Blocks[i].BlockComponents;
                            <div class='description-image-block-custom'>
                                <div>
                                    <img id='preview-image-image' class='img-rounded img-responsive' style='width: 25%;' src='/Images/Uploaded/Source/@components[0]'>
                                    <h4>@components[1]</h4>
                                    <p>@components[2]</p>
                                </div>
                            </div>
                        }
                    }
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col (left) -->
        <div class="col-md-4" style="padding-left: 0;">
            <div class="box box-primary">
                <div class="box-body">
                    <img class="img-thumbnail description-image-custom" src="@ViewBag.Picture" />
                    <a href="/Apply/@Model.Id" class="btn btn-block btn-primary btn-flat">Подати заяву</a>
                    <button class="btn btn-block btn-primary btn-flat">Написати повідомлення</button>
                    <button class="btn btn-block btn-primary btn-flat">Додати до вибраних садочків</button>
                </div><!-- /.box-body -->
            </div>
            @*<div class="box box-primary">
                <div class="description-block-custom photo-album"><h4><span class="glyphicon glyphicon-picture"></span> Фотоальбом</h4></div>
            </div>
            <div class="box box-primary">
                <div class="description-block-custom photo-album"><h4><span class="glyphicon glyphicon-facetime-video"></span> Відеоролики</h4></div>
            </div>*@
        </div><!-- /.col (right) -->
    </div><!-- /.row -->
</section><!-- /.content -->