<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	@Styles.Render("~/css/bootstrap")
	@Styles.Render("~/css/theme")
    @Styles.Render("~/css/iCheck")
	@Styles.Render("~/css/icheckFlatBlue")
	@Styles.Render("~/css/allskins")

	@Scripts.Render("~/js/modernizr")
	@Scripts.Render("~/js/jquery")
	@Scripts.Render("~/js/bootstrap")
	@Scripts.Render("~/js/jqueryval")
	@Scripts.Render("~/js/icheck")

	<style>
		html {
			overflow-y: visible;
		}
	</style>
</head>
<body class="skin-blue" style="background-color: #ECF0F5">
    <div class="wrapper">
        @Html.Partial("_HeaderPartial")
        @Html.Partial("_LeftMenuPartial")
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>
    <script src="~/Content/dist/js/app.min.js" type="text/javascript"></script>
</body>
</html>