@model IEnumerable<IStudyKindergartens.Models.Statements.StatementListItemViewModel>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Link = "/Kindergarten/Statements";
    string rawUrl = Request.RawUrl;
    bool isAdmin = false;
    if (rawUrl.Split(new char[] { '/' })[1] == "Admin")
    {
        isAdmin = true;
    }
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div style="margin-bottom: 15px; padding-left: 0; padding-right: 0;">
                <div class="row">
                    <div class="col-md-2">
                        @if (!isAdmin)
                        {
                            if (ViewBag.Type == "All")
                            {
                                <a style="width:100%;" href="/Kindergarten/Statements/@ViewBag.Id" class="btn btn-tumblr btn-flat">Усі</a>
                            }
                            else
                            {
                                <a style="width:100%;" href="/Kindergarten/Statements/@ViewBag.Id" class="btn btn-primary btn-flat">Усі</a>
                            }
                        }
                        else
                        {
                            if (ViewBag.Type == "All")
                            {
                                <a style="width:100%;" href="/Admin/Statements/" class="btn btn-tumblr btn-flat">Усі</a>
                            }
                            else
                            {
                                <a style="width:100%;" href="/Admin/Statements/" class="btn btn-primary btn-flat">Усі</a>
                            }
                        }
                    </div>
                    <div class="col-md-2">
                        @if (!isAdmin)
                        {
                            if (ViewBag.Type == "NotConsidered")
                            {
                                <a style="width:100%;" href="/Kindergarten/NotConsideredStatements/@ViewBag.Id" class="btn btn-tumblr btn-flat">Не розглянуті</a>
                            }
                            else
                            {
                                <a style="width:100%;" href="/Kindergarten/NotConsideredStatements/@ViewBag.Id" class="btn btn-primary btn-flat">Не розглянуті</a>
                            }
                        }
                        else
                        {
                            if (ViewBag.Type == "NotConsidered")
                            {
                                <a style="width:100%;" href="/Admin/NotConsideredStatements/" class="btn btn-tumblr btn-flat">Не розглянуті</a>
                            }
                            else
                            {
                                <a style="width:100%;" href="/Admin/NotConsideredStatements/" class="btn btn-primary btn-flat">Не розглянуті</a>
                            }
                        }
                    </div>
                    <div class="col-md-2">
                        @if (!isAdmin)
                        {
                            if (ViewBag.Type == "Approved")
                            {
                                <a style="width:100%;" href="/Kindergarten/ApprovedStatements/@ViewBag.Id" class="btn btn-tumblr btn-flat">Схвалені</a>
                            }
                            else
                            {
                                <a style="width:100%;" href="/Kindergarten/ApprovedStatements/@ViewBag.Id" class="btn btn-primary btn-flat">Схвалені</a>
                            }
                        }
                        else
                        {
                            if (ViewBag.Type == "Approved")
                            {
                                <a style="width:100%;" href="/Admin/ApprovedStatements/" class="btn btn-tumblr btn-flat">Схвалені</a>
                            }
                            else
                            {
                                <a style="width:100%;" href="/Admin/ApprovedStatements/" class="btn btn-primary btn-flat">Схвалені</a>
                            }
                        }
                    </div>
                    <div class="col-md-2">
                        @if (!isAdmin)
                        {
                            if (ViewBag.Type == "Rejected")
                            {
                                <a style="width:100%;" href="/Kindergarten/RejectedStatements/@ViewBag.Id" class="btn btn-tumblr btn-flat">Відхилені</a>
                            }
                            else
                            {
                                <a style="width:100%;" href="/Kindergarten/RejectedStatements/@ViewBag.Id" class="btn btn-primary btn-flat">Відхилені</a>
                            }
                        }
                        else
                        {
                            if (ViewBag.Type == "Rejected")
                            {
                                <a style="width:100%;" href="/Admin/RejectedStatements/" class="btn btn-tumblr btn-flat">Відхилені</a>
                            }
                            else
                            {
                                <a style="width:100%;" href="/Admin/RejectedStatements/" class="btn btn-primary btn-flat">Відхилені</a>
                            }
                        }
                    </div>
                    <div class="col-md-2">
                        @if (!isAdmin)
                        {
                            if (ViewBag.Type == "Selected")
                            {
                                <a style="width:100%;" href="/Kindergarten/SelectedStatements/@ViewBag.Id" class="btn btn-tumblr btn-flat">Вибрані</a>
                            }
                            else
                            {
                                <a style="width:100%;" href="/Kindergarten/SelectedStatements/@ViewBag.Id" class="btn btn-primary btn-flat">Вибрані</a>
                            }
                        }
                        else
                        {
                            if (ViewBag.Type == "Selected")
                            {
                                <a style="width:100%;" href="/Admin/SelectedStatements/" class="btn btn-tumblr btn-flat">Вибрані</a>
                            }
                            else
                            {
                                <a style="width:100%;" href="/Admin/SelectedStatements/" class="btn btn-primary btn-flat">Вибрані</a>
                            }
                        }
                    </div>
                    <div class="col-md-2">
                        @if (!isAdmin)
                        {
                            if (ViewBag.Type == "Removed")
                            {
                                <a style="width:100%;" href="/Kindergarten/RemovedStatements/@ViewBag.Id" class="btn btn-tumblr btn-flat">Корзина</a>
                            }
                            else
                            {
                                <a style="width:100%;" href="/Kindergarten/RemovedStatements/@ViewBag.Id" class="btn btn-primary btn-flat">Корзина</a>
                            }
                        }
                        else
                        {
                            if (ViewBag.Type == "Removed")
                            {
                                <a style="width:100%;" href="/Admin/RemovedStatements/" class="btn btn-tumblr btn-flat">Корзина</a>
                            }
                            else
                            {
                                <a style="width:100%;" href="/Admin/RemovedStatements/" class="btn btn-primary btn-flat">Корзина</a>
                            }
                        }
                    </div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="box box-primary collapsed-box">
                    <div class="box-header">
                        <h3 class="box-title">Для: <a href="/Kindergarten/@item.Statement.KindergartenId">@item.KindergartenName</a></h3>
                        <br />
                        <h3 class="box-title">Від: <a href="/User/@item.Statement.SiteUserId">@item.UserName</a></h3>
                        <br /> <br />
                        @if (item.Statement.Status == "NotConsidered")
                        {
                            <h3 class="box-title status">Статус: Не розглянуто</h3>
                        }
                        else if (item.Statement.Status == "Approved")
                        {
                            <h3 class="box-title status">Статус: Одобрено</h3>
                        }
                        else if (item.Statement.Status == "Rejected")
                        {
                            <h3 class="box-title status">Статус: Відхилено</h3>
                        }
                        <br />
                        <h3 class="box-title">Дата та час: @item.Statement.DateTime.ToLongTimeString() @item.Statement.DateTime.ToLongDateString()</h3>

                        <div class="box-tools pull-right div-hide">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body" style="display: none;">
                        <div class="row">
                            <div class="form-group has-feedback col-md-4">
                                <label>ПІБ одного з батьків</label>
                                <p>@item.Statement.SNF</p>
                            </div>
                            <div class="form-group has-feedback col-md-4">
                                <label>ПІБ дитини</label>
                                <p>@item.Statement.ChildSNF</p>
                            </div>
                            <div class="form-group has-feedback col-md-4">
                                <label>Адреса проживання</label>
                                <p>@item.Statement.Address</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group has-feedback col-md-4">
                                <label>Серія і номер паспорта одного з батьків</label>
                                <p>@item.Statement.SeriesNumberPassport</p>
                            </div>
                            <div class="form-group has-feedback col-md-4">
                                <label>Серія і номер свідоцтва про народження дитини</label>
                                <p>@item.Statement.ChildBirthCertificate</p>
                            </div>
                            <div class="form-group has-feedback col-md-4">
                                <label>Дата народження дитини</label>
                                <p>@item.Statement.ChildDateOfBirth</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group has-feedback col-md-4">
                                <label>Email</label>
                                <p>@item.Statement.Email</p>
                            </div>
                            <div class="form-group has-feedback col-md-4">
                                <label>Контактний телефон</label>
                                <p>@item.Statement.PhoneNumber</p>
                            </div>
                            <div class="form-group has-feedback col-md-4">
                                <label>Додатковий контактний телефон</label>
                                <p>@item.Statement.AdditionalPhoneNumber</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group has-feedback col-md-12">
                                <label>Вибраний тип групи</label>
                                <p>@item.Statement.Group</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group has-feedback col-md-12">
                                <label>Вибрані пільги</label>
                                @for (int i = 0; i < item.UserPrivileges.Count; i++)
                                {
                                    <p>@item.UserPrivileges[i]</p>
                                }
                            </div>
                        </div>
                        @if (!item.Statement.IsRemoved)
                        {
                            <div class="row">
                                <div class="form-group has-feedback col-md-6">
                                    <a href="/Kindergarten/SendToEmail/@item.Statement.Id" style="width: 100%;" class="btn btn-primary btn-flat">Надіслати заявку на пошту</a>
                                </div>
                                <div class="form-group has-feedback col-md-6">
                                    @if (item.Statement.IsSelected)
                                    {
                                        <a style="width: 100%;" class="btn btn-tumblr btn-flat toSelected">Забрати заявку з вибраних</a>
                                    }
                                    else
                                    {
                                        <a style="width: 100%;" class="btn btn-primary btn-flat toSelected">Добавити заявку у вибрані</a>
                                    }
                                </div>
                                @using (Ajax.BeginForm("ToSelected", "Home", new AjaxOptions
                                {
                                }))
                                {
                                    <a style="display: none;" class="labelToSelected"></a>
                                    @Html.Hidden("statementId", item.Statement.Id)
                                    <input type="submit" style="display:none;" />
                                }
                                @using (Ajax.BeginForm("FromSelected", "Home", new AjaxOptions
                                {
                                }))
                                {
                                    <a style="display: none;" class="labelFromSelected"></a>
                                    @Html.Hidden("statementId", item.Statement.Id)
                                    <input type="submit" style="display:none;" />
                                }
                            </div>
                            if (ViewBag.Type == "All" || ViewBag.Type == "NotConsidered")
                            {
                                <div class="row">
                                    <div class="form-group has-feedback col-md-4">
                                        <a style="width: 100%;" class="btn btn-primary btn-flat approveStatement">Одобрити заявку</a>
                                    </div>
                                    @using (Ajax.BeginForm("ApproveStatement", "Home", new AjaxOptions
                                    {
                                    }))
                                    {
                                        <a style="display: none;" class="labelApproveStatement"></a>
                                        @Html.Hidden("statementId", item.Statement.Id)
                                        <input type="submit" style="display:none;" />
                                    }
                                    <div class="form-group has-feedback col-md-4">
                                        <a style="width: 100%;" class="btn btn-primary btn-flat rejectStatement">Відхилити заявку</a>
                                    </div>
                                    @using (Ajax.BeginForm("RejectStatement", "Home", new AjaxOptions
                                    {
                                    }))
                                    {
                                        <a style="display: none;" class="labelRejectStatement"></a>
                                        @Html.Hidden("statementId", item.Statement.Id)
                                        <input type="submit" style="display:none;" />
                                    }
                                    <div class="form-group has-feedback col-md-4">
                                        <a style="width: 100%;" class="btn btn-primary btn-flat toRecycleBin">Відправити заявку в корзину</a>
                                    </div>
                                    @using (Ajax.BeginForm("ToRecycleBin", "Home", new AjaxOptions
                                    {
                                    }))
                                    {
                                        <a style="display: none;" class="labelToRecycleBin"></a>
                                        @Html.Hidden("statementId", item.Statement.Id)
                                        <input type="submit" style="display:none;" />
                                    }
                                </div>
                            }
                            else if (ViewBag.Type == "Approved")
                            {
                                <div class="row">
                                    <div class="form-group has-feedback col-md-6">
                                        <a style="width: 100%;" class="btn btn-primary btn-flat approveStatement">Одобрити заявку</a>
                                    </div>
                                    @using (Ajax.BeginForm("ApproveStatement", "Home", new AjaxOptions
                                    {
                                    }))
                                    {
                                        <a style="display: none;" class="labelApproveStatement"></a>
                                        @Html.Hidden("statementId", item.Statement.Id)
                                        <input type="submit" style="display:none;" />
                                    }
                                    <div class="form-group has-feedback col-md-6">
                                        <a style="width: 100%;" class="btn btn-primary btn-flat toRecycleBin">Відправити заявку в корзину</a>
                                    </div>
                                    @using (Ajax.BeginForm("ToRecycleBin", "Home", new AjaxOptions
                                    {
                                    }))
                                    {
                                        <a style="display: none;" class="labelToRecycleBin"></a>
                                        @Html.Hidden("statementId", item.Statement.Id)
                                        <input type="submit" style="display:none;" />
                                    }
                                </div>
                            }
                            else if (ViewBag.Type == "Rejected")
                            {
                                <div class="row">
                                    <div class="form-group has-feedback col-md-4">
                                        <a style="width: 100%;" class="btn btn-primary btn-flat rejectStatement">Відхилити заявку</a>
                                    </div>
                                    @using (Ajax.BeginForm("RejectStatement", "Home", new AjaxOptions
                                    {
                                    }))
                                    {
                                        <a style="display: none;" class="labelRejectStatement"></a>
                                        @Html.Hidden("statementId", item.Statement.Id)
                                        <input type="submit" style="display:none;" />
                                    }
                                    <div class="form-group has-feedback col-md-6">
                                        <a style="width: 100%;" class="btn btn-primary btn-flat toRecycleBin">Відправити заявку в корзину</a>
                                    </div>
                                    @using (Ajax.BeginForm("ToRecycleBin", "Home", new AjaxOptions
                                    {
                                    }))
                                    {
                                        <a style="display: none;" class="labelToRecycleBin"></a>
                                        @Html.Hidden("statementId", item.Statement.Id)
                                        <input type="submit" style="display:none;" />
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            <div class="row">
                                <div class="form-group has-feedback col-md-12">
                                    <a style="width: 100%;" class="btn btn-primary btn-flat fromRecycleBin">Відновити заявку</a>
                                </div>
                                @using (Ajax.BeginForm("FromRecycleBin", "Home", new AjaxOptions
                                {
                                }))
                                {
                                    <a style="display: none;" class="labelFromRecycleBin"></a>
                                    @Html.Hidden("statementId", item.Statement.Id)
                                    <input type="submit" style="display:none;" />
                                }
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@Scripts.Render("~/js/ajax")

<script src="~/Scripts/Custom/Statements/btn-hide.js"></script>
@if (ViewBag.Type != null)
{
    if (ViewBag.Type != "Removed")
    {
        <script src="~/Scripts/Custom/Statements/to-selected.js"></script>
        <script src="~/Scripts/Custom/Statements/to-recycle-bin.js"></script>
    }
    else
    {
        <script src="~/Scripts/Custom/Statements/from-recycle-bin.js"></script>
    }

    if (ViewBag.Type == "All" || ViewBag.Type == "NotConsidered")
    {
        <script src="~/Scripts/Custom/Statements/approve-statement.js"></script>
        <script src="~/Scripts/Custom/Statements/reject-statement.js"></script>
    }

    if (ViewBag.Type == "Approved")
    {
        <script src="~/Scripts/Custom/Statements/reject-statement.js"></script>
    }
    else if (ViewBag.Type == "Rejected")
    {
        <script src="~/Scripts/Custom/Statements/approve-statement.js"></script>
    }
}