<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/theme")
    @Styles.Render("~/css/iCheck")
    @Styles.Render("~/css/icheckFlatBlue")
    @Styles.Render("~/css/allskins")

    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/modernizr")
    @Scripts.Render("~/js/bootstrap")
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/icheck")
</head>
<body class="register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="/" class="register-brand-custom">
                <span class="glyphicon glyphicon-book"></span>
                <div class="logo-text">
                    <h1>IStudy</h1>
                </div>
            </a>
        </div>
        <div class="register-box-body">
            @RenderBody()
        </div>
    </div>
</body>
</html>