@model IEnumerable<IStudyKindergartens.Models.SiteUser>
@{
    ViewBag.Link = "/Contacts";
}
@using Microsoft.AspNet.Identity
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    @using (Html.BeginForm("SearchUserInContacts", "User", FormMethod.Post))
                    {
                        @Html.Hidden("id", User.Identity.GetUserId())
                        <div class="input-group">
                            @Html.TextBox("search", "", htmlAttributes: new { @class = "form-control", @placeholder = "Введіть ПІБ користувача..." })
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-primary btn-flat" value="Пошук" />
                            </span>
                        </div>
                    }
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Ваші контакти</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Прізвище</th>
                                <th>Ім'я</th>
                                <th>Ім'я по батькові</th>
                                <th>Дата народження</th>
                                <th>Емейл</th>
                                <th>Телефон</th>
                                <th></th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td hidden><span class="contactUserId">@item.Id</span></td>
                                    <td>@item.Surname</td>
                                    <td>@item.Name</td>
                                    <td>@item.FathersName</td>
                                    <td>@item.DateOfBirth</td>
                                    <td>@item.ApplicationUser.Email</td>
                                    <td>@item.ApplicationUser.PhoneNumber</td>
                                    <td><a style="cursor: pointer;" href="/WriteTo/@item.Id"><span class="glyphicon glyphicon-envelope"></span></a></td>
                                    <td><a style="cursor: pointer;" class="removeContact"><span class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="padding: 5px;">
                        @Html.ActionLink("Додати новий контакт", "AddContact", "User")
                    </div>
                    @using (Ajax.BeginForm("RemoveContactAjax", "Home", new AjaxOptions
                    {
                    }))
                    {
                        @Html.Hidden("removeContactUserId", "", htmlAttributes: new { @class = "removeContactUserId" })
                        <input class="removeContactUserButton" type="submit" style="display:none;" />
                    }
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@Scripts.Render("~/js/ajax")

<script>
    $("td").on("click", ".removeContact", function () {
        var current = this;
        $('.removeContactUserId').attr("value", ($(current).parent().parent().children('td').children('.contactUserId').html()));
        $('.removeContactUserButton').click();
        $(current).parent().parent().hide();
    });
</script>