@model IStudyKindergartens.Models.Users.EditUserViewModel
@{
	string picture;
	if (Model.PictureName == null)
	{
		picture = "/Images/Default/anonym.png";
	}
	else
	{
		picture = Model.PictureName;
	}
}

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title">Редагування користувача</h3>
				</div><!-- /.box-header -->
				<div class="box-body">
					<div class="row">
						<div class="form-group has-feedback col-md-3">
							<div class="img-thumbnail" style="background-color: #3c8dbc; margin-bottom: 5px;">
								<img id="userPicture" style="width: 100%;" src="@picture" />
							</div>
							<div style="display: none;" id="loading"><p>Завантаження...</p></div>
							<div id="uploadFileDiv" style="width: 100%; margin-bottom: 5px;">
								<form>
									<input style="display: none;" type="file" name="uploadFile" id="uploadFile" />
									<input style="display: none;" type='reset' id="resetFiles" value='Reset' />
								</form>
								<a id="uploadFileLink" class="btn btn-primary btn-block btn-flat">Завантажити картинку</a>
							</div>

							<div style="width: 100%;">
								<input type="submit" id="deleteFile" class="btn btn-primary btn-block btn-flat" value="Видалити картинку" />
							</div>
						</div>
						<div class="form-group has-feedback col-md-9">
							@using (Html.BeginForm("Edit", "User", FormMethod.Post))
							{
								@Html.AntiForgeryToken()
								@Html.HiddenFor(m => m.PictureName, new { id = "modelPictureName" })
								<div class="row">
									<div class="form-group has-feedback col-md-4">
										@Html.LabelFor(m => m.Surname, "Прізвище")
										@Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @placeholder = "Прізвище" })
										@Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
									</div>
									<div class="form-group has-feedback col-md-4">
										@Html.LabelFor(m => m.Name, "Ім'я")
										@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Ім'я" })
										@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
									</div>
									<div class="form-group has-feedback col-md-4">
										@Html.LabelFor(m => m.FathersName, "Ім'я по батькові")
										@Html.TextBoxFor(m => m.FathersName, new { @class = "form-control", @placeholder = "Ім'я по батькові" })
										@Html.ValidationMessageFor(m => m.FathersName, "", new { @class = "text-danger" })
									</div>
								</div>
								<div class="row">
									<div class="form-group has-feedback col-md-4">
										<div class="form-group">
											@Html.LabelFor(m => m.DateOfBirth, "Дата народження")
											<div class="input-group">
												<div class="input-group-addon">
													<i class="glyphicon glyphicon-calendar"></i>
												</div>
												@Html.TextBoxFor(m => m.DateOfBirth, new { @placeholder = "Дата народження", @class = "form-control", @data_inputmask = "'alias': 'dd/mm/yyyy'", @data_mask = "" })
											</div>
											@Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
										</div>
									</div>
									<div class="form-group has-feedback col-md-4">
										@Html.LabelFor(m => m.Email, "Емейл")
										<div class="input-group">
											<div class="input-group-addon">
												<i class="glyphicon glyphicon-envelope"></i>
											</div>
											@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Емейл" })
										</div>
										@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
									</div>
									<div class="form-group has-feedback col-md-4">
										<div class="form-group">
											@Html.LabelFor(m => m.PhoneNumber, "Номер телефону")
											<div class="input-group">
												<div class="input-group-addon">
													+38
												</div>
												@Html.TextBoxFor(m => m.PhoneNumber, new { @placeholder = "Номер телефону", @class = "form-control", @data_inputmask = "'mask': '(999) 999-9999'", @data_mask = "" })
											</div>
											@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<input type="submit" class="btn btn-primary btn-block btn-flat" value="Зберегти">
									</div>
								</div>
							}
						</div>
					</div>
				</div><!-- /.box-body -->
			</div>
		</div>
	</div>
</section>

@Scripts.Render("~/js/ajax")
@Scripts.Render("~/js/inputmask")

<script>
	$(function () {
		$('input').iCheck({
			checkboxClass: 'icheckbox_square-blue',
			radioClass: 'iradio_square-blue',
			increaseArea: '0%' // optional
		});
	});
	$(function () {
		$("[data-mask]").inputmask();
	});
</script>

<script type="text/javascript">
	function deleteFiles() {
		$('#resetFiles').click();
	}
	$('#uploadFileLink').on('click', function (e) {
		$('#uploadFile').click();
	});
	$('#uploadFile').on('change', function (e) {
        e.preventDefault();
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UploadPicture", "Home")',
                    contentType: false,
                    processData: false,
					data: data,
					success: function (result) {
						if (result == false) {
							alert("Не вдалось завантажити файл!");
						}
						else {
							$('#userPicture').attr('src', '/Images/Uploaded/Temp/' + result);
							$('#modelPictureName').attr('value', result);
						}
						$("#loading").attr("style", "display: none;");
					},
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
					},
					beforeSend: function () {
						$("#loading").attr("style", "display: block;");
					}
				});
            } else {
                alert("Ваш браузер не підтримує HTML5!");
            }
		}
		deleteFiles();
	});
	$('#deleteFile').on('click', function (e) {
		$.ajax({
                    type: "POST",
					url: '@Url.Action("DeletePicture", "Home")',
					data: { id: $('#modelPictureName').attr('value') },
					success: function (result) {
						if (result) {
							$('#userPicture').attr('src', '/Images/Default/anonym.png');
							$('#modelPictureName').attr('value', null);
							deleteFiles();
						}
						else {
							deleteFiles();
							alert('Файл не вдалось видалити!');
						}
					},
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
					}
                });
	});
</script>